asttokens==3.0.1
-e file:///home/alessandro/isaacsim/autotom_digital_twin
decorator==5.3.1
executing==2.2.1
hatchling==1.30.1
ipython==9.14.1
ipython-pygments-lexers==1.1.1
jedi==0.20.0
jinja2==3.1.6
jsonpickle==4.1.2
markupsafe==3.0.3
matplotlib-inline==0.2.2
networkx==3.6.1
numpy==2.4.6
packaging==26.2
pandas==3.0.3
parso==0.8.7
pathspec==1.1.1
pexpect==4.9.0
pluggy==1.6.0
prompt-toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.20.0
python-dateutil==2.9.0.post0
pyvis==0.3.2
six==1.17.0
stack-data==0.6.3
traitlets==5.15.1
trove-classifiers==2026.6.1.19
types-usd==24.5.2
usd-core==26.5
wcwidth==0.8.1
